@font-face {
  font-family: 'gotham';
  src: url('./fonts/GothamPro-Bold.ttf');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, #root, .app {
  font-family: 'Poppins', sans-serif;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: row;
  display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

body {
  background-color: rgb(94, 73, 64);
  background: linear-gradient(rgb(94, 73, 64), rgb(0, 0, 0));

  
}

.sidebar {
  background-color: #040404;
  width: 200px;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  
}

.sidebarOption {
  font-family: 'gotham';
  font-size: 16px;
  padding: 5px;
  height: 40px;
  color: grey;
  cursor: pointer;
  display: flex;
}

.sidebarOption:hover {
  color: white;
}

.sidebarOption span {
  padding-right: 10px;
  padding-left: 10px;
}

.logo {
  display: block;
  margin-left: 40px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 80px;
  height: 110px;
  cursor: pointer;
}

.GameMenuBox {
  background-color: #181818;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 300px;
}

.tab-container {
  display: flex;
  flex: 0 0
}

#gameTab {
  height: 700px;
}

.tabButton {
    background-color: rgb(40, 40, 40);
    color: grey;
    border: none;
    outline: none;
    width: 100px;
    cursor: pointer;
}

.tab {
  color: grey;
}

#playButton {
  margin-left: 30px;
  margin-right: 30px;
  width: 80%;
  background-color: grey;
  height: 60px;
  font-size: 30px;
  font-family: 'Gotham';
  border-radius: 15px;
}

.newGameMenu {
  text-align: center;
}

.time-option-container {
  display: grid;
  grid-template-columns: 80px 80px 80px;
  width: fit-content;
  margin: auto;
  background: #181818;
  max-height: 0;
  opacity: 0;
  transition: all 0.4s;
  overflow: hidden;
}

.time-option-container.active {
  max-height: 240px;
  opacity: 1;
  
}

.time-option-selected {
  background: #181818;
  border-radius: 10px;
  margin-bottom: 8px;
  color: #808080;
  font-family: 'gotham';
}



.time-option-selected:after {
  content: "";
}

.time-option-container .time-option {
  cursor: pointer;
}

.time-option-container .time-option .time-radio {
  display:none;
}



/* ------------------------------------------------------------------------- */

#chessboard {
  display: grid;
  grid-template-columns: repeat(8, 12.5%);
  width: 800px;
  height: 800px;
  background-color: yellow;
  
}

.tile {
  display: grid;
  place-content: center;
  height: 100px;
  cursor: pointer;
}

.tile.black.check {
  background: radial-gradient(ellipse at center, red 0%, #e70000 25%, rgba(169,0,0,0) 89%, rgba(158,0,0,0) 100%);
  background-color: #b58863;
}

.tile.white.check {
  background: radial-gradient(ellipse at center, red 0%, #e70000 25%, rgba(169,0,0,0) 89%, rgba(158,0,0,0) 100%);
  background-color: #f0d9b5;
}

.moveHint {
  border: 15px solid rgba(0, 0, 0, 0.15);
  height: 20px;
  width: 20px;
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;
}

.capture {
  border: 7px solid rgba(0, 0, 0, 0.15);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  box-sizing: border-box;
  pointer-events: none;
}

.tile.black.marked {
  background-color: #b44a37;
}

.tile.white.marked {
  background-color: #eb947a;
}

 .black.moved {
  background-color:rgb(171, 162, 58);
}

 .white.moved {
  background-color: rgb(206, 210, 107);
}

.black {
  background-color: #b58863;
  color: #f0d9b5;
  
}

.white {
  background-color: #f0d9b5;
  color: #b58863;
}

.piece {
  height: 100px;
  width: 100px;
  background-size: 100px;
  user-select: none;
  -webkit-user-drag: none;
  background-repeat: no-repeat;
  background-position: center;
}

.upperPlayerBar {
  display: flex;
  margin-bottom: 10px;
  
  justify-content: space-between;
}

.lowerPlayerBar {
  display: flex;
  margin-top: 10px;
  
  justify-content: space-between;
}

.time-box {
  background-color: grey;
  border-radius: 10px;
  height: 40px;
  width: 100px;
  text-align: center;
  vertical-align: center;
  line-height: 40px;
}

.player{
  display: flex;
}

.player-info {
  color: rgb(192, 189, 189);
  margin-left: 10px;
}

.UpperCapturedPieces {
  background-color: #808080;
  height: 20px;
  width: 140px;
}

.player-icon {
  height: 40px;
  width: 40px;
}

line {
  stroke: green;
  stroke-width: 15px;
  stroke-linecap: round;
  pointer-events: none;
}

svg {
  position: absolute;
  pointer-events: none;
}

.notation-move {
  

}
.move-notataion-menu:nth-child(2n) {
  
}

.notation-move-line {
  width: 100%;
  background-color: rgb(40, 40, 40);
  display: flex;
  justify-content: space-between;
}
.notation-move-line:nth-child(2n) {
  background-color: rgb(60, 60, 60);
}
